<section class="footer">
  <div class="footer-container">
    <div class="logo-wrapping">
      <a class="logo" href="index.html"
        ><span class="logo-span">Lloyd</span>Jefferson.</a
      >
    </div>
    <div class="social-wrapper">
      <ul class="links-list-footer">
        <li class="links-list-item-footer">
          <a class="link-in-links-list-footer">Instagram</a>
        </li>
        <li class="links-list-item-footer">
          <a class="link-in-links-list-footer">Facebook</a>
        </li>
        <li class="links-list-item-footer">
          <a class="link-in-links-list-footer">Linkedin</a>
        </li>
        <li class="links-list-item-footer">
          <a class="link-in-links-list-footer">GitHub</a>
        </li>
      </ul>
    </div>
    <p class="copyright-text">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</section>
