<section class="header">
  <div class="header-container">
    <div class="logo-wrapping">
      <a class="logo" href="index.html"
        ><span class="logo-span">Lloyd</span>Jefferson.</a
      >
    </div>

    <div class="burger-button">
      <button class="burger" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="header-navigation">
      <input type="checkbox" class="night-mode-checkbox" />

      <nav class="navigation-menu">
        <ul class="navigation-menu-list">
          <li class="navigation-menu-item"><a href="#about_me">About me</a></li>
          <li class="navigation-menu-item"><a href="#projects">Projects</a></li>
          <li class="navigation-menu-item">
            <a href="#work-together">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
