<section class="hero-section">
  <div class="container">
    <h1 class="main-title">
      <span class="hero-span">Hello, I am </span>Fullstack developer
    </h1>

    <div class="order-button">
      <a class="order-link" href="">Order the project</a>
    </div>

    <div class="hero-text-wrapper">
      <p class="hero-text">
        I work with people all over the world to create
        <span class="hero-span-text">impressive</span> and
        <span class="hero-span-text">functional websites</span> that reflect
        each client’s unique personality.
      </p>
    </div>

    <div class="links-wrapper">
      <ul class="links-list">
        <li class="links-list-item">
          <a class="link-in-links-list">Instagram</a>
        </li>
        <li class="links-list-item">
          <a class="link-in-links-list">Facebook</a>
        </li>
        <li class="links-list-item">
          <a class="link-in-links-list">Linkedin</a>
        </li>
        <li class="links-list-item">
          <a class="link-in-links-list">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>
