<section class="my-projects">
  <div class="contsiner">
    <h2 class="title my-projects-title">
      My <span class="title-span">Projects</span>
    </h2>
    <ul class="my-projects-list">
      <li class="my-projects-list-item">
        <picture></picture>
        <p class="picture-tech">React, JavaScript, Node JS, Git</p>
        <h4 class="picture-title">Wallet webservice</h4>
        <a class="visit-project-link" href="">Visit <svg></svg></a>
      </li>
      <li class="my-projects-list-item">
        <picture></picture>
        <p class="picture-tech">React, JavaScript, Node JS, Git</p>
        <h4 class="picture-title">Green harvest webservice</h4>
        <a class="visit-project-link" href="">Visit <svg></svg></a>
      </li>
      <li class="my-projects-list-item">
        <picture></picture>
        <p class="picture-tech">React, JavaScript, Node JS, Git</p>
        <h4 class="picture-title">English Exellence website</h4>
        <a class="visit-project-link" href="">Visit <svg></svg></a>
      </li>
    </ul>
    <button type="button" class="load-more-button">Load More</button>
  </div>
</section>
