<section class="work-together">
  <div class="container">
    <h2 class="title title-work-together">
      let’s <span class="title-span">work together</span>
    </h2>
    <div class="form-wrapper">
      <p class="form-text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <address class="contacts-wrapper">
        <ul class="contacts-list">
          <li class="contacts-list-item">
            <svg></svg>
            +38 090 456 78 90
          </li>
          <li class="contacts-list-item">
            <svg></svg>
            lloydjefferson@gmail.com
          </li>
          <li class="contacts-list-item">
            <svg></svg>
            <a
              class="work-together-location"
              href="https://maps.app.goo.gl/gAvaLVpsGWE2xVkAA"
              >USA, New York</a
            >
          </li>
        </ul>
      </address>
      <div class="form-fill-wrapper">
        <form class="form">
          <input
            type="email"
            class="form-email-input"
            placeholder="Your email*"
          />
          <textarea
            class="form-message-input"
            cols="30"
            rows="4"
            placeholder="Message"
          ></textarea>
          <button type="submit" class="submit-button">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
